p {
    position: absolute;
    left: 0;
    top:0;
    font-size: 32px;
}

body {
    top: 0;
    left:0;
    margin: 0;
    padding: 0;
    position: absolute;
}
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


span {
    width: 50%;
    font-size: 64px;
    color: white;
   
    z-index: 99;
}